footer,
footer ul {
    @include flexCenter(center, center, row);
}

footer {
    height: 60px;
    background-color: #000;
    ul {

        li:first-child > a {
            margin-right: 10px;
        }

        li:last-child {
            color: #c0bab2;
        }
        
    }

}
