header {
    padding: 50px 0;
    background-color: #fff;

    nav {
        width: 100%;
        min-width: 800px;
        @include flexCenter(center, space-evenly, row);

        ul:nth-child(even) {
            display: flex;
            li {
                a{
                    color: #818181 !important;
                    transition: color 500ms ease-out;

                    &:hover {
                        color: #000000 !important;
                    }
                }
                padding: 0 1.5rem;
            }
        }

        ul:last-child li {
            @include flexCenter(center, center, row);
            article {
                margin-left: 10px;
                a {
                    float: right;
                    text-decoration: underline;
                }
            }
        }
    }

}
