header,
header ul:last-child li {
    @include flexCenter(center, center, row);
}

header {
    padding: 50px 0;
    background-color: #fff;

    nav {
        min-width: 1120px;
        @include flexCenter(center, space-between, row);

        ul:nth-child(even) {
            display: flex;

            li {
                padding: 0 1.5rem;

                a {
                    color: #818181;
                    transition: color 500ms ease-out;

                    &:hover {
                        color: #000000 !important;
                    }

                    a.active{
                        color: orangered;
                    }

                }

            }
            
        }

        ul:last-child li article {
            margin-left: 10px;

            p {
                color: black;
            }

            a {
                float: right;
                text-decoration: underline;
            }

        }

    }

}
